.pavone-footer {
    display: flex;
    height: 300px;
    background: black;
    color: white;
    justify-content: space-around;
}

// .footer-logo{
//     padding-left: 40px;
//     text-align: center;
// }

// .footer-contact{
//     display: flex;
//     justify-content:space-around;
//      .footer-item {
//          padding-right: 40px;
//          text-align: left;
//      }

// }
